body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.div {
    flex-grow: 1;
    display: flex;
}
    /* 1st section */
    .hero.div {
        background-color: #1F2937;
        color: white;
    }
        .header {
            flex-grow: 1;
            padding: 0 64px;
            height: 64px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .header > ul {
                display: flex;
                align-items: center;
                gap: 16px;
            }
                .header > ul > li {
                    list-style-type: none;
                }
                .header > ul > li > a {
                    color: white;
                    text-decoration: none;
                }

    /* 3rd section */
    .quote.div {
        background-color: #E5E7EB;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .quote.container {
            width: auto;
            padding: 0 72px;
        }
            .quote.text {
                font-size: 36px;
                font-style: italic;
                color: #1F2937;
                display: flex;
                flex-wrap: wrap;
            }
            .quote.author {
                display: flex;
                justify-content: flex-end;
            }

    /* 4th section */
    .signup.div {
        justify-content: center;
        align-items: center;
    }
        .signup.box {
            background-color: #3882F6;
            border-radius: 8px;
            color: white;
            padding: 16px;
            display: flex;
        }
            .signup.box > .left, .signup.box > .right {
                padding: 16px 32px;
                display: flex;
                justify-content: center;
            }
            .signup.box > .left {
                flex-direction: column;
                align-items: flex-start;
            }
                .signup.box > .left > p {
                    margin: 0;
                    padding: 0;
                }
                .signup.box > .left > p > strong {
                    font-size: 24px;
                }
            .signup.box > .right {
                align-items: center;
            }
                .signup.box > .right > button {
                    background-color: #3882F6;
                    border: solid white 1px;
                    border-radius: 8px;
                    color: white;
                    padding: 4px 16px;
                    height: 32px;
                    text-wrap: nowrap;
                }
    
    /* 5th section */
    .foot.div {
        background-color: #1F2937;
        flex-basis: 64px;
        flex-grow: 0;
        color: white;
        justify-content: center;
        align-items: center;
    }

